List Operationes :

In [1]:
# A list of five different fruits
fruits = ["apple", "banana", "orange", "grape", "kiwi"]
print("initial list:", fruits)

# New fruit add to the list
fruits.append("mango")
print("updated list:", fruits)

# Remove the second fruit from the list
fruits.pop(1)
print("updated list:", fruits)


# Sort the list in alphabetical order
fruits.sort()
print("sorted list:", fruits)

# Access the third fruit in the list
third_fruit = fruits[2]
print("third fruit:", third_fruit)

initial list: ['apple', 'banana', 'orange', 'grape', 'kiwi']
updated list: ['apple', 'banana', 'orange', 'grape', 'kiwi', 'mango']
updated list: ['apple', 'orange', 'grape', 'kiwi', 'mango']
sorted list: ['apple', 'grape', 'kiwi', 'mango', 'orange']
third fruit: kiwi

Tuple Operationes:

In [4]:
# Atuple with three colors
colors = ("red", "Yellow", "purple")
print("initial tuple:", colors)
# Access and print the last color using negetive index
last_color = colors[-1]
print("last color:", last_color)

initial tuple: ('red', 'Yellow', 'purple')
last color: purple

Set Operationes:

In [5]:
# A set name of three cities
cities = {"New York", "Houston", "Miami"}
print("initial set:", cities)

# Add a new city to the set
cities.add("Washington.D.C")
print("updated set:", cities)

# Remove a city from the set
cities.remove("Houston")
print("updated set:", cities)

# a union operation with another set of cities
other_cities = {"Austin", "San Marcos", "Dallas"}
union_cities = cities.union(other_cities)
print("union set:", union_cities)

initial set: {'Houston', 'Miami', 'New York'}
updated set: {'Houston', 'Washington.D.C', 'Miami', 'New York'}
updated set: {'Washington.D.C', 'Miami', 'New York'}
union set: {'Washington.D.C', 'Dallas', 'San Marcos', 'New York', 'Miami', 'Austin'}

Dictionary Operations:

In [15]:
# A dictionary with three key-value pairs where the keys are student names and the values are their grades.
students = {"Jhon": 90, "Joe": 85, "Carlos": 95}
print("Students", students)

# the Grade of one student updated
students["Joe"] = 93
print("Updated Grading (Joe):", students)

# a new student and it grade added to dictionary
students["Sara"] = 89
print("Updated Adding and Grading (Sara):", students)

# one student removed from dictionary
del students["Carlos"]
print("Updated Removing (Carlos):", students)

# Access the grade of a specific student using their name
sara_grade = students["Sara"]
print("Grade of Sara:", sara_grade)

Students {'Jhon': 90, 'Joe': 85, 'Carlos': 95}
Updated Grading (Joe): {'Jhon': 90, 'Joe': 93, 'Carlos': 95}
Updated Adding and Grading (Sara): {'Jhon': 90, 'Joe': 93, 'Carlos': 95, 'Sara': 89}
Updated Removing (Carlos): {'Jhon': 90, 'Joe': 93, 'Sara': 89}
Grade of Sara: 89

Assignment Compeleted.